.repo-cards {
    background: #2b3a62;
    border-radius: 10px;
    width: 100%;
}

.cards-top {
    background-color: #1f2a47a1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.link {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.link a {
    color: #fff;
    font-size: 18px;
}

.link .status {
    background: #1a2549;
    color: #ffffffa2;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 20px;
}

.repo-cards ul {
    padding: 20px;
    width: 100%;
}

.repo-cards ul li {
    display: flex;
    align-items: center;
    color: #94a0c2;
    font-weight: 300;
    font-size: 16px;
}

.repo-cards ul li svg {
    color: #b1b6c5;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.desc-repo {
    padding: 20px;
    color: #94a0c2;
    font-size: 15px;
}