#header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: #141d2e;
    z-index: 1;
}

#header a {
    color: #07f;
    font-size: 28px;
    font-weight: 600;
}

#header .form-area {
    border-radius: 100px;
    height: 45px;
    padding: 0 20px;
    gap: 10px;
    position: relative;
}

#header .form-area .search {
    width: 22px;
    height: 22px;
}

#header .form-area input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 17px;
    width: 300px;
    font-weight: normal;
    padding-right: 80px;
    outline: none;
}

#header .form-area button {
    background: #07f;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    right: 0;
    border-radius: 30px;
    padding: 0 20px;
    height: 45px;
    top: 0;
    border: none;
    cursor: pointer;
}

#header .form-area input::placeholder {
    color: #b7b7b7;
    font-size: 17px;
}

@media only screen and (max-width:578px) {
    #header .row {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

}

@media (prefers-color-scheme: light) {

    #header {
        background-color: #fff;
        border-bottom: 1px solid #00000013;
    }

    #header a span {
        color: #000;
    }

    #header .form-area {
        background: #dce0ea;
    }

    #header .form-area input::placeholder {
        color: #0000007e;
    }

    #header .form-area input {
        color: #000;
    }

}

@media (prefers-color-scheme: dark) {

    #header {
        background-color: #141d2e;
        border-bottom: 1px solid #ffffff11;
    }

    #header .form-area {
        background: #1f2a47;
    }

    #header a span {
        color: #fff;
    }

    #header .form-area .search {
        fill: #fff;
    }
}