#tabs {
    width: 100%;
    height: 200px;
    padding-left: 335px;
}

.tabs-header {
    padding-bottom: 7px;
    border-bottom: 2px solid #ffffff1e;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
}

.tabs-header li {
    width: 100%;
    text-align: center;
}

.tabs-header li button {
    color: #fff;
    background: transparent;
    font-size: 18px;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: #ffffff87;
}

.tabs-header li:hover {
    background: #ffffff1b;
    border-radius: 10px;
}

.tabs-header li.active button {
    color: #fff;
}

.tabs-header li.active {
    position: relative;
    color: #fff;
}

.tabs-header li.active button::after {
    position: absolute;
    bottom: -9.4px;
    left: 0;
    height: 3px;
    width: 100%;
    content: "";
    border-radius: 10px;
    background: #07f;
}
